:root {
    --light-gray: #ddd;
    --dark-gray: #333;
}

@media screen and (min-width: 750px) {
    body {
        position: relative;
        font-family: "Playfair Display";
        font-weight: 600;
    }

    .data {
        position: absolute;
        top: 25%;
        left: 4%;
        background-color: rgba(99, 7, 7, 0.8);
        color: white;
        display: block;
        padding-right: 40px;
    }

    .data h2 {
        background-color: var(--light-gray);
        color: black;
        text-align: left;
        padding: 15px;
        padding-left: 20px;
        margin-left: -30px;
        margin-top: -10px;
    }

    .data-item {
        margin: -25px;
    }

    .weather {
        position: absolute;
        bottom: 18%;
        right: 3%;
        background-color: rgba(84, 8, 8, 0.8);
        color: white;
        display: block;
        padding-right: 40px;
        border: none;
    }

    .weather h2 {
        background-color: var(--light-gray);
        color: black;
        text-align: left;
        padding: 15px;
        padding-left: 20px;
        margin-left: -30px;
        margin-top: -10px;
    }

    .weather-h2::after {
        content: "🌦️";
        font-size: 2rem;
        padding-left: 10px;
    }

    .weather-icon {
        display: none;
    }
}
.hamburger {
    display: none;
}

@media screen and (min-width: 1050px) {

    .data {
        position: absolute;
        top: 18%;
        left: 3%;
        background-color: rgb(5, 60, 5);
        color: white;
        display: block;
        padding-right: 40px;
    }

    .weather {
        position: absolute;
        bottom: 12%;
        right: 3%;
        background-color: rgb(5, 60, 5);
        color: white;
        display: block;
        padding-right: 40px;
        border: none;
    }
}