body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4caf50;
    color: rgb(6, 0, 0);
    padding: 1rem;
    text-align: center;
}

nav id {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #56a858;
}

.nav-menu {
    display: flex;
    justify-content:flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(11, 1, 1);
    font-weight: bold;
    padding: 0.5rem 1rem; 
    border-radius: 4px; 
    transition: background-color 0.3s;
}

.nav-menu a:hover {
    background-color: #56a858;
}
   
#hamburger {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #00070c;
    cursor: pointer;
    outline: none;
    display: none; 
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(7, 1, 1);
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #hamburger {
        display: block; 
    }

    #navMenu {
        display: none;
    }
    #navMenu.show {
        display: block;
        flex-direction: column; 
    }
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.gallery img {
    width: 150%;
    height: 200px; 
    object-fit: cover;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

figure {
    text-align: center;
}

footer {
    background-color: #9bec9f;
    color: rgb(14, 0, 0);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}
